* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
	font-family: 'Lato', sans-serif;
	-webkit-font-smoothing: antialiased;
	background: #000;
	color: #999;
}

.showcase {
    position: relative;
    background: url('https://i.ibb.co/vXqDmnh/background.jpg');
    width: 100%;
    height: 93vh;
    z-index: 1;
}

.showcase::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 93vh;
    width: 100%;
    background: rgba(0,0,0, 0.6);
    z-index: -10;
    box-shadow: inset 20px 0px 20px #000, inset -20px 0px 20px #000;
}

.showcase--nav {
    position: relative;
    height: 80px;
    width: 100%;
    z-index: 3;
    margin-bottom: 80px;
}

.showcase--nav img {
    width: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.showcase--nav a {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-50%, -70%);
    margin-right: 0.5rem;
}

.showcase--content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 70%;
    margin: auto;
    z-index: 20;
    color: #fff;
}

.showcase--content h1 {
    font-size: 4.5rem;
    letter-spacing: 2px;
    font-weight: 800;
    margin-bottom: 2rem;
}

.showcase--content p {
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: 2px;
    font-weight: 400;
    margin-bottom: 2.5rem;
}

.showcase--content i {
    margin-left: 1rem;
}

.tabs {
    padding-top: 0.7rem;
    background: #151515;
    border-bottom: 2px solid #434343;
    font-size: 0.95rem;
    font-weight: 600;
}

.tabs .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.tabs .container > div {
    padding: 1rem 1rem;
    text-align: center;
}

.tab-item:hover {
    color: #fff;
    cursor: pointer;
}

.tab-item i {
    display: block;
    margin-bottom: 0.6rem;
}

.tab-border {
    border-bottom: 4px solid #e50914;
}

.tab-content-item {
    padding: 3rem 0;
    background: #000;
    color: #fff;
}

#tab-1-content .tab-1-content-inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
/*    text-align: center;*/
}

#tab-2-content .tab-2-content-top, #tab-3-content .tab-3-content-top {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 1rem;
    justify-content: center;
    align-items: center;
}

#tab-3-content .tab-3-content-top p {
    margin-top: 1rem;
}

#tab-2-content .tab-2-content-bottom {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.table {
    width: 100%;
    margin-top: 2rem;
    border-collapse: collapse;
    border-spacing: 0;
}

.table thead th {
    text-transform: uppercase;
    padding: 0.5rem;
}

.table tbody tr td {
    color: #999;
    padding: 0.5rem 0.5rem;
    text-align: center;
    font-weight: 400;
}

.table tbody tr td:first-child {
    text-align: left;
}

.table tbody tr:nth-child(even) {
    background: #222;
}

.footer {
	max-width: 70%;
	margin: 1rem auto;
	overflow: auto;
}

.footer,
.footer a {
	color: #999;
	font-size: 0.9rem;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
} 

.footer p {
	margin-bottom: 1.5rem;
}

.footer .footer-cols {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 2rem;
}

.footer .footer-cols > ul {
    list-style: none;
}

.footer li {
	line-height: 1.9;
}

/************** Utilities **************/

/* Container */

.container {
    max-width: 80%;
    overflow: hidden;
    margin: auto;
    padding: 0 2rem;
}

/* Buttons */

.btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background: #e50914;
    padding: 0.4rem 1rem;
    border: none;
    box-shadow: 2px 2px 2px #111;
    cursor: pointer;
    border-radius: 2px;
    font-size: 0.9rem;
    text-align: center;
}

.btn:hover {
    background: rgb(255, 10, 22);
}

.btn-sm {
    font-weight: 400;
    border-radius: 3px;
}

.btn-lg {
    padding: 0.8rem 1.3rem;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 1px;
}

.btn-xl {
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: 2px;
    padding: 1.5rem 4rem;
    border-radius: 3px;
}

/* Text */

.text-xl {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.text-lg {
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

.text-md {
    font-size: 1.1rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.text-center {
    text-align: center;
}

.text-dark {
    color: #999;
}
